body {
	height:100%;
	width:100%;
}

#app {
	text-align: center;
	height:100%;
	width:100%;
}

h1 {
	background-color:#a7a7a7;
	width:50%;
	margin: auto;
}

#todoBox {
	height: 400px;
	width: 350px;
	box-shadow: 5px 5px 5px #888888;
	margin: 5px auto;
	overflow: scroll;
	overflow: auto;
	border:solid;
	border-width:1px;
	border-color:black;
}

#entryBox {
	width: 350px;
	height: 40px;
	margin: 2px auto;
	padding: 0px;
}

.todoItem {
	float: left;
}

.todoText {
	width: 77%;
	text-align:center;
	height:90%;
	font-family: sans-serif;
	font-size: 1.3em;
	padding-top: 4px;
}

.todoCheck {
	margin-top: 8px;
}

.todoButton {
	margin-top: 8px;
}

.todo {
	width:100%;
	height:30px;
}

.entry {
	float: left;
}

#entryField {
	resize: none;
	height: 30px;
	width: 301px;
}

#entryButton {
	margin-top:2px;
	height: 30px;
}